<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675326316148-1khuqm3jideqt1ffisao0sitmdid54ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675326316148-1khuqm3jideqt1ffisao0sitmdid54ma</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675326316148-53ckj0kqgcji3cv6i2slp0pu1kpovu4a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ502qrRLiB8tLQ_A_r_LL90wd_Wq409k</string>
	<key>GCM_SENDER_ID</key>
	<string>675326316148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezrent</string>
	<key>PROJECT_ID</key>
	<string>ezrent-8ccb2</string>
	<key>STORAGE_BUCKET</key>
	<string>ezrent-8ccb2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675326316148:ios:65db0331663180e24dcb21</string>
</dict>
</plist>